%fieldset
	%legend
		Cultural Blessing
	-blessing=(Object.const_get(culture)).culturalBlessing
	%input.fancy{ :type => "checkbox", :name => "cultural_blessing", :disabled => !blessing[:implemented], :checked => blessing[:implemented] }
	%label
	%label{ :style => "italics", :title => "#{blessing[:tooltip]}#{(blessing[:implemented] ? "" : " NOT YET IMPLEMENTED")}" }
		=blessing[:name]