%input.fancy{ :id => "iterations0", :type => "radio", :name => "iterations", :value => 0, :checked => true }
%label
%label{ :for => "iterations0", :title => "Output blow-by-blow combat log" }
	Single match. 
%p
%input.fancy{ :id => "iterations1", :type => "radio", :name => "iterations", :value => 2, :checked => false }
%label
%label{ :for => "iterations1", :title => "Output aggregate stats." }
	Fight 100 times.
%p
%input.fancy{ :id => "iterations2", :type => "radio", :name => "iterations", :value => 4, :checked => false }
%label
%label{ :for => "iterations2", :title => "10,000 divided by # of opponents." }
	"Lots."
