
				
%fieldset
	%legend Official Rules
				
	%input{ :type => "checkbox", :name => "sauron_rule", :checked => true}
		%label{ :title => "When Hero rolls a Sauron, opponent will try a called shot."}
			"Called Shot on Sauron" Rule
		
	%p

	
	%input{ :type => "checkbox", :name=> "favoured_skills", :checked => true }
		%label{ :title => "Adversaries add their Attribute Level to all favoured skill checks."}
			Adversary Favoured Skills RAW 
	%p
			
	%label Travel Fatigue:
	%select{ :name => 'extra_fatigue' }
		-8.times do |i|
			%option{ :value => 4*i }
				="#{4*i}"
			
%fieldset
	%legend Tactics
	%input{ :type => "checkbox", :name => "knockback_rule", :checked => false}
		%label{ :title => "When hit by a Great or Extraordinary Success, hero will take half damage but miss next turn."}
			Use Knockback 
	%p 
	%input{ :type => "checkbox", :name => "bite_kneecaps", :checked => false}
		%label{ :title => "When Hero is Weary, switch to Forward stance. (Credit to Rich H.)"}
			"Bite Their Kneecaps Off" 
	

		
