%input.fancy{ :type => "checkbox", :name => "knockback_rule", :id => "knockback_rule", :checked => false}
%label
%label{ :for => "knockback_rule", :title => "When hit by a Great or Extraordinary Success, hero will take half damage but miss next turn."}
		Use Knockback 
%p 
%input.fancy{ :id => "bite_kneecaps", :type => "checkbox", :name => "bite_kneecaps", :checked => false}
%label
%label{ :for => "bite_kneecaps", :title => "When Hero is Weary, switch to Forward stance. (Credit to Rich H.)"}
		"Bite Their Kneecaps Off" 
