-heroclass=(Object.const_get(culture))
					
- virtues = heroclass.virtues
- virtues.keys.each do | v |
	%p
	%input.fancy{:type=>"checkbox", :name=>v, :id => v, :disabled => !virtues[v][:implemented], :title => virtues[v][:tooltip] }
	%label
	%label{ :for => v, :title => virtues[v][:tooltip] }
		= virtues[v][:name] 



