

@font-face { 
	font-family: 'libra';
	src: url('/fonts/libra-normal.ttf');
}

@font-face { 
	font-family: 'ringbearer';
	src: url('/fonts/ringbearer.ttf');
}

@font-face { 
	font-family: 'alois';
	src: url('/fonts/alois.ttf');
}

@font-face { 
	font-family: 'aloisbold';
	src: url('/fonts/alois-bold.ttf');
}

* {
	font-family: 'alois';
	color:saddlebrown;
}

body {
	background:url('/images/parchment.jpg') repeat;
	min-width:975px;
}

h1 {
	font-size:48px;
	font-family:'ringbearer';
}

#wrapper {
	margin:20px;
}


#column-wrapper {
	padding-left: 325px;   /* LC width */
	padding-right: 325px;  /* RC width */
}

#column-wrapper .column {
  position: relative;
  float: left;
}

#hero-wrapper {
  width: 325px;          /* LC width */
  right: 325px;          /* LC width */
  margin-left: -100%;
}

#settings-wrapper {
	width:325px;
	margin-right:-325px;
}


#reporting {
	width:100%;
}

#column_header {
	width:auto;
	text-align:center;
	font-family:'ringbearer';
	font-size:28px;
	background:transparent;
	margin-bottom:25px;
}


.tooltip {
	cursor:pointer;
}



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#cultural_blessing {
	float:left;
	width:100%;
}

select{
	float:center;
}




fieldset {
	margin:3px auto;
	border-color:saddlebrown;
}


.cultureandbackground, #attributes {
	float:left;
	width:auto;
}



#header{
	font-family:'ringbearer';
	font-size:40;
	text-align:center;
}


label.monsterability {
	font-size: 10px;
}

#monsterstats {
	font-family: sans-serif;
	font-size: 10px;
}


p {  margin-top: 0em; margin-bottom: 0em; }

.ui-tooltip {
  color: black;
  border-radius: 5px;
  font: 12px 'alois', 'alois';
  box-shadow: 0 0 4px black;
  background: white;
  border: 1px solid gray;
  padding: 4px 6px;
}


#output {
	font-size: 14px;
	position:relative;
	width:100%;
	height:auto;
	padding:10px;
	margin-left:20px;
}

table.stats {
	border:1px;
	border-color:#bbb;
}

td.stats {
	padding: 0.5rem;
	border: 1px solid #999;
	text-align:center;
}


.gear_select {
}


#submit_button {
	width:300px;
	margin-left: auto;
	margin-right: auto;
	border:1px solid;
	border-color:saddlebrown;
	outline:none;
	background:rgba(0,0,0,0.05);
	border-radius:5px;
	font-size:24px;
}


.accordion-heading {
	font-size:20px;
	background:rgba(1,1,1,0.1);
	outline:none;
	cursor:pointer;
	height:36px;
	line-height:1;
	color:saddlebrown;
}

.accordion-subheading {
	font-size: 12px;
}

.styled-select select {
	width:100%;
	font-family: 'alois';
	background:rgba(1,1,1,0.05);
	color:saddlebrown;
	border-color:saddlebrown;
}

.accordion-div {
	background:transparent;
	overflow:visible;
	z-index:-1;
}

select {
	font-size:10;
}
	
input.fancy[type=checkbox] {
	opacity:0;
	position:absolute;
	height:14px;
	width:13px;
	vertical-align:middle;
	cursor:pointer;
}

input.fancy[type=checkbox] + label
 {
     background: url(/images/skill_check.png) no-repeat;
     height: 14px;
     width: 13px;
     display:inline-block;
     padding: 0 0 0 0px;
	 vertical-align:middle;
 }

input.fancy[type=checkbox]:checked + label
 {
    background: url(/images/skill_check_on.png) no-repeat;
    height: 14px;
    width: 13px;
    display:inline-block;
    padding: 0 0 0 0px;
	vertical-align:middle;
 }


input.fancy[type=radio] {
	opacity:0;
	position:absolute;
	height:14px;
	width:13px;
	vertical-align:middle;
	cursor:pointer;
}

input.fancy[type=radio] + label
 {
     background: url(/images/skill_check.png) no-repeat;
     height: 14px;
     width: 13px;
     display:inline-block;
     padding: 0 0 0 0px;
	 vertical-align:middle;
 }

input.fancy[type=radio]:checked + label
 {
    background: url(/images/skill_check_on.png) no-repeat;
    height: 14px;
    width: 13px;
    display:inline-block;
    padding: 0 0 0 0px;
	vertical-align:middle;
 }

input.underline[type=checkbox] {
  opacity:0;
  position:absolute;
  vertical-align:middle;
width:80px;
cursor:pointer;
}

input.underline[type=checkbox] + label
 {
     display:inline-block;
     padding: 0 0 0 0px;
	 vertical-align:middle;
 }

input.underline[type=checkbox]:checked + label
 {
    display:inline-block;
    padding: 0 0 0 0px;
	vertical-align:middle;
	text-decoration:underline;
 }












